{% extends "base.html" %} {% block content %}
<div class=" createtasks">
    <h2> Create Tasks</h2>
    <form action="{{ url_for('create') }}" method="post">
        <input class='input' type="text" name="title" placeholder="Title" required="required" /> <br>
		<input class='input' type="text" name="description" placeholder="Description"/> <br>
        <input class='input' type="date" name="date" required="required" /> <br>
        <select id="status" name="status">
            <option value="Pending">Pending</option>
            <option value="In Status">In Status</option>
            <option value="Completed">Completed</option>
        </select><br>
        <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-top:20px;">Submit.</button>

    </form>
</div>
{% endblock %}