body{
    background:#0a3e75;
    position: relative;

}
h1{
    color: white;
}
header{
  height: 60px;
}
#first{
    height:500px; width: 500px;
    position:absolute;
    left:510px;
}
#second{
    height:500px; width: 500px;
    position:absolute;
    left:510px;
}
.nav-link{
    text-color: white;
     color: white;
}
px-2:hover{
   background-color: #555555;
}


.heading{
    color:  white;
    text-align: center;
    margin-top:5px;
}
.update{
    height:500px; width: 500px;
    position:absolute;
    left:510px;
}

.organization{
    color:  white;
    text-align: center;
    margin-top: 20px;
}
.button{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 50vh;
}
.btn{
    border: 2px  white;
    color: white;
}
.box{
    position: absolute;
    margin-top: 50px;
    left: 40%;
    text-align: center;
}

.box,input{
    margin-top: 50px;
    width: 50vh;
    height: 30px;
}
.table{
    align-items: center;
    border:1px solid black;
}
.container{
    align-items: center;
    width: 500px;
}
.createtasks{
    height:500px; width: 500px;
    position:absolute;
    left:510px;
    text-align: center;
    color: white;
}
.update_box{
    height:500px; width: 500px;
    position:absolute;
    left:510px;
    color: white;
}
.ms-3:hover{
     transform: scale(1.2);
}
#status{
    margin-top:50px;
    height: 30px;
    width:84%;
    text-align: center;
}
.table{
    border-color: white
}
.view_div{
        text-align:center;
}